<div class="navbar navbar-expand-lg container-fluid px-0">
    <ul class="navbar-nav mb-2 mb-lg-0 headMenuLink left-items">
        <li *ngIf="isTaxPayer()" class="nav-item dropdown dropdown-toggle">
            <a class="menuListHover" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-cogs"></i><span>Returns</span>
            </a>
            <ul class="dropdown-menu">
                <li *ngIf="!isTaxPayerISD()">
                    <a class="dropdown-item"><i class="fa fa-circle-o"></i>GSTR 1</a>
                </li>
                <li *ngIf="!isTaxPayerISD()">
                    <a class="dropdown-item"><i class="fa fa-circle-o"></i>GSTR 3B</a>
                </li>
                <li *ngIf="!isTaxPayerISD()">
                    <a class="dropdown-item"><i class="fa fa-circle-o"></i>GSTR 9</a>
                </li>
                <li *ngIf="!isTaxPayerISD()">
                    <a class="dropdown-item"><i class="fa fa-circle-o"></i>GSTR 9C</a>
                </li>
                <li *ngIf="isTaxPayerISD() && !isTaxPayerTDSDeductor() && !isTaxPayerECOM()">
                    <a class="dropdown-item"><i class="fa fa-circle-o"></i>GSTR 6</a>
                </li>
                <li *ngIf="!isTaxPayerISD()">
                    <a class="dropdown-item"><i class="fa fa-circle-o"></i>ITC-04</a>
                </li>
                <li *ngIf="isTaxPayerTDSDeductor()">
                    <a class="dropdown-item"><i class="fa fa-circle-o"></i>GSTR7</a>
                </li>
                <li *ngIf="isTaxPayerECOM()">
                    <a class="dropdown-item"><i class="fa fa-circle-o"></i>GSTR8</a>
                </li>
                <li *ngIf="!isTaxPayerISD()">
                    <a class="dropdown-item"><i class="fa fa-circle-o"></i>GSTR2X</a>
                </li>
            </ul>
        </li>

        <li *ngIf="!isTaxPayer() && this.selectedCompany['companyId']" class="nav-item">
            <a><i class="fa fa-upload"></i> <span>Bulk Operation</span></a>
        </li>

        <li *ngIf="!isTaxPayerISD()" class="nav-item dropdown">
            <a class="dropdown-toggle menuListHover" data-bs-toggle="dropdown">
                <i class="fa fa-exchange"></i>
                <span>Reconciliation</span>
            </a>
            <ul class="dropdown-menu">
                <li *ngIf="isTaxPayer()">
                    <a class="dropdown-item"><i class="fa fa-circle-o"></i>Recon Tracker</a>
                </li>
                <li *ngIf="isTaxPayer()">
                    <a class="dropdown-item"><i class="fa fa-circle-o"></i>GSTR 2</a>
                </li>
                <li *ngIf="isTaxPayer() || selectedCompany['entityType']==='BUSINESS'">
                    <a class="dropdown-item"><i class="fa fa-circle-o"></i>2P Summary</a>
                </li>
                <li *ngIf="isTaxPayer()">
                    <a class="dropdown-item"><i class="fa fa-circle-o"></i>Bulk Download 2A Data</a>
                </li>
                <li *ngIf="selectedCompany['entityType']==='BUSINESS'">
                    <a class="dropdown-item"><i class="fa fa-circle-o"></i>Bulk Download/Update 2B Data</a>
                </li>
                <li *ngIf="isTaxPayer()">
                    <a class="dropdown-item"><i class="fa fa-circle-o"></i>Advanced Reconciliation</a>
                </li>
                <li *ngIf="isTaxPayer() || selectedCompany['entityType']==='BUSINESS'">
                    <a class="dropdown-item"><i class="fa fa-circle-o"></i>Know Your Monthly ITC</a>
                </li>
                <li *ngIf="isTaxPayer() || selectedCompany['entityType']==='BUSINESS'">
                    <a class="dropdown-item"><i class="fa fa-circle-o"></i>Monthly Recon Result (2P Base)</a>
                </li>
                <li>
                    <a class="dropdown-item"><i class="fa fa-circle-o"></i>Results</a>
                </li>
                <li *ngIf="selectedCompany['entityType']==='BUSINESS' && selectedCompany['role']==='1'">
                    <a class="dropdown-item"><i class="fa fa-circle-o"></i>Group Level Reports</a>
                </li>
                <li *ngIf="isTaxPayer()">
                    <a class="dropdown-item"><i class="fa fa-circle-o"></i>GSTIN Level Reports</a>
                </li>
                <li>
                    <a class="dropdown-item"><i class="fa fa-circle-o"></i>Import Reconciliation (Based on 2B)</a>
                </li>
                <li>
                    <a class="dropdown-item"><i class="fa fa-circle-o"></i>ISD Reconciliation (Based on 2B)</a>
                </li>
            </ul>
        </li>

        <li *ngIf="isTaxPayer() && !isTaxPayerTDSDeductor() && !isTaxPayerECOM() && selectedCompany['entityType']==='FILING'" class="nav-item dropdown">
            <a class="dropdown-toggle menuListHover" data-bs-toggle="dropdown">
                <i class="fa fa-exchange"></i>
                <span>GSTR6 Annual Reconciliation</span><span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li *ngIf="isTaxPayerISD() && !isTaxPayerTDSDeductor() && !isTaxPayerECOM() && selectedCompany['entityType']==='FILING'">
                    <a><i class="fa fa-circle-o"></i>GSTR 6 Annual Recon</a>
                </li>
                <li *ngIf="isTaxPayer()">
                    <a><i class="fa fa-circle-o"></i>Bulk Get 6A Data</a>
                </li>
                <li *ngIf="isTaxPayer()">
                    <a><i class="fa fa-circle-o"></i>Perform Reconciliation</a>
                </li>
                <li>
                    <a><i class="fa fa-circle-o"></i>Results</a>
                </li>
            </ul>
        </li>
    
        <li *ngIf="isTaxPayer() || selectedCompany['entityType']==='BUSINESS'" class="nav-item">
            <a><i class="fa fa-book"></i><span>Ledger</span></a>
        </li>

        <!-- <li *ngIf="!isicici && !NavEntityContext.isTaxPayer && (hostname == 'dev' || hostname == 'asp' || hostname == 'qa' || hostname == 'beta')"
            class="dropdown"><a href="#/vendorDash"><i class="fa fa-users"></i> <span>My Network</span></a></li> -->

        <li *ngIf="false" class="nav-item">
            <a><i class="fa fa-hand-pointer-o"></i><span>Subscribe</span></a>
        </li>

        <li *ngIf="false" class="nav-item dropdown">
            <a class="dropdown-toggle menuListHover" data-bs-toggle="dropdown">
                <i class="fa fa-cogs"></i>
                <span>Subscription</span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a><i class="fa fa-circle-o"></i>My Retail Plan</a>
                </li>
                <li>
                    <a><i class="fa fa-circle-o"></i>My Payment Details</a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a routerLink="bulkDownload"><i class="fa fa-download"></i>GST Data</a>
        </li>
    
        <li class="nav-item dropdown">
            <a class="dropdown-toggle menuListHover" data-bs-toggle="dropdown">
                <i class="fa fa-bars"></i>
                <span>More</span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a><i class="fa fa-link"></i> <span>Resources</span></a>
                </li>
                <li>
                    <a><i class="fa fa-wrench"></i> <span>Utilities</span></a>
                </li>
                <li *ngIf="isTaxPayer()">
                    <a>
                        <i class="fa fa-database" aria-hidden="true"></i><span>Vendor Master</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    
    <ul class="navbar-nav mb-2 mb-lg-0 headMenuLink right-items">
        <li class="nav-item floatRight">
            <a><i class="fa fa-file-text"></i><span>MIS Report</span></a>
        </li>
                    
        <li class="nav-item floatRight">
            <a><i class="fa fa-bar-chart"></i><span>Compliance Tracker</span></a>
        </li>

        <!-- <li *ngIf="!isicici" class="floatRight insightMenu"><a ng-click="navReport()" target="_blank"><i
                    class="fa fa-pie-chart"></i><span>Insights
                </span></a></li>
        <li *ngIf="isicici" class="floatRight insightMenu"><a ng-click="isIcInsight()" target="_blank"><i
                    class="fa fa-pie-chart"></i><span>Insights
                </span></a></li> -->

        <li *ngIf="selectedCompany['role']==='1'" class="nav-item floatRight">
            <a>
                <i class="fa fa-cog"></i><span>Settings</span>
            </a>
        </li>
    </ul>
</div>