<div class="collapse navbar-collapse pull-left" id="navbar-collapse">
    <ul class="nav navbar-nav headMenuLink">
        <!-- <li class="active" id="clickDash"><a href="#/entityDashboard"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li> -->
        <li ng-show="$parent.NavEntityContext != 'undefined' && $parent.NavEntityContext.isTaxPayer" class="dropdown">
            <!-- businessEntityList.length > 0 &&   -->
            <a href="" class="dropdown-toggle menuListHover" data-toggle="dropdown"><i class="fa fa-cogs"></i>
                <span>Returns</span> <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li ng-if="!$parent.isTaxpayerISD"><a href="#/returnUpload"><i class="fa fa-circle-o"></i>GSTR 1</a>
                </li>
                <!--<li ng-if="!$parent.isTaxpayerISD"><a href="#/GSTR2"><i class="fa fa-circle-o"></i>GSTR 2</a></li>-->
                <li ng-if="!$parent.isTaxpayerISD"><a href="#/GSTR3"><i class="fa fa-circle-o"></i>GSTR 3B</a></li>
                <li ng-if="!$parent.isTaxpayerISD"><a href="#/GSTR9"><i class="fa fa-circle-o"></i>GSTR 9</a></li>
                <li ng-if="!$parent.isTaxpayerISD"><a href="#/GSTR9C"><i class="fa fa-circle-o"></i>GSTR 9C</a></li>
                <li ng-if="$parent.isTaxpayerISD && !$parent.isTaxpayerTDSDeductor && !$parent.isTaxpayerEcom"><a
                        href="#/GSTR6"><i class="fa fa-circle-o"></i>GSTR 6</a></li>
                
                <li ng-if="!$parent.isTaxpayerISD"><a href="#/ITC04"><i class="fa fa-circle-o"></i>ITC-04</a></li>
                <li ng-if="$parent.isTaxpayerTDSDeductor"><a href="#/GSTR7"><i class="fa fa-circle-o"></i>GSTR7</a></li>
                <li ng-if="$parent.isTaxpayerEcom"><a href="#/GSTR8"><i class="fa fa-circle-o"></i>GSTR8</a></li>
                <li ng-if="!$parent.isTaxpayerISD"><a href="#/GSTR2X"><i class="fa fa-circle-o"></i>GSTR2X</a></li>
                <!-- <li><a href="#/returnUpload"><i class="fa fa-circle-o"></i>GSTR 3</a></li>
        <li><a href="#/returnUpload"><i class="fa fa-circle-o"></i>GSTR 4</a></li>
        <li><a href="#/returnUpload"><i class="fa fa-circle-o"></i>GSTR 5</a></li> -->
            </ul>
        </li>


        <!-- <li ng-if="true" class="dropdown"><a href="#/ledger"><i class="fa fa-book"></i> <span>Ledger</span></a></li> -->
        <li ng-if="!NavEntityContext.isTaxPayer && getSetCompanyId() != null" class="dropdown"><a href="#/bulkUpload"><i
                    class="fa fa-upload"></i> <span>Bulk Operation</span></a></li>
        <li class="dropdown" ng-if="!$parent.isTaxpayerISD">
            <a href="#" class="dropdown-toggle menuListHover" data-toggle="dropdown"><i class="fa fa-exchange"></i>
                <span>Reconciliation</span><span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <!-- <li title="Please select a filing entity first" ng-hide="!$parent.NavEntityContext.isTaxPayer"><a href="#"
                        ng-click="$event.stopPropagation();" title="Please select a filing entity first"><i
                            class="fa fa-circle-o"></i>GSTR 2</a></li> -->
                <!--<li title="Please select a filing entity first" ng-if="!$parent.NavEntityContext.isTaxPayer"><a href="#" ng-click="$event.stopPropagation();" title="Please select a filing entity first"><i class="fa fa-circle-o"></i>Download 2A Data</a></li>-->
                <li ng-if="$parent.NavEntityContext.isTaxPayer"><a href="#/reconTracker">
                    <i class="fa fa-circle-o"></i>Recon Tracker</a>
                </li>
                <li ng-if="$parent.NavEntityContext.isTaxPayer"><a href="#/GSTR2" ng-click=""><i
                            class="fa fa-circle-o"></i>GSTR 2</a></li>
                <li ng-if="$parent.NavEntityContext.isTaxPayer || $parent.NavEntityContext.entityType == 'Business'"><a href="#/dash2pSummary" ng-click=""><i
                            class="fa fa-circle-o"></i>2P Summary</a></li>
                <li><a href="#/spineltoSapphire" ng-if="$parent.NavEntityContext.isTaxPayer"><i
                            class="fa fa-circle-o"></i>Bulk Download 2A Data</a></li>
                <li><a href="#/bulkdownloadGstr2b" ng-if="$parent.NavEntityContext.entityType == 'Business'"><i
                            class="fa fa-circle-o"></i>Bulk Download/Update 2B Data</a></li>
                <li><a href="#/advancedreconciliation" ng-if="$parent.NavEntityContext.isTaxPayer"><i
                            class="fa fa-circle-o"></i>Advanced Reconciliation</a></li>
                <li ng-if="$parent.NavEntityContext.isTaxPayer || $parent.NavEntityContext.entityType == 'Business'"><a href="#/monthlySummary" ng-click=""><i
                    class="fa fa-circle-o"></i>Know Your Monthly ITC</a></li>
                <li ng-if="$parent.NavEntityContext.isTaxPayer || $parent.NavEntityContext.entityType == 'Business'"><a href="#/monthlyReconResult" ng-click=""><i
                    class="fa fa-circle-o"></i>Monthly Recon Result (2P Base)</a></li>
                <!--<li ng-if="$parent.NavEntityContext.isTaxPayer"><a href="#/GSTR2A"><i class="fa fa-circle-o"></i>Download 2A Data</a></li>-->
                <li><a href="#/recon"><i class="fa fa-circle-o"></i>Results</a></li>
                <li ng-if="$parent.NavEntityContext.entityType == 'Business' && $parent.business_role == '1'"><a
                        href="#/reconGroupLevelReport"><i class="fa fa-circle-o"></i>Group Level Reports</a></li>
                <li ng-if="$parent.NavEntityContext.isTaxPayer"><a href="#/reconGstinLevelReport"><i
                            class="fa fa-circle-o"></i>GSTIN Level Reports</a></li>
                <li>
                    <a href="#/importRecon">
                        <i class="fa fa-circle-o"></i>Import Reconciliation (Based on 2B)
                    </a>
                </li>
                <li>
                    <a href="#/isdRecon">
                        <i class="fa fa-circle-o"></i>ISD Reconciliation (Based on 2B)
                    </a>
                </li>
                

                <!-- <li><a href="#/returnUpload"><i class="fa fa-circle-o"></i>GSTR 3</a></li>
        <li><a href="#/returnUpload"><i class="fa fa-circle-o"></i>GSTR 4</a></li>
        <li><a href="#/returnUpload"><i class="fa fa-circle-o"></i>GSTR 5</a></li> -->
            </ul>
        </li>
        <li class="dropdown" ng-if="$parent.isTaxpayerISD && !$parent.isTaxpayerTDSDeductor && !$parent.isTaxpayerEcom && NavEntityContext.entityType == 'FILING'">
            <a href="#" class="dropdown-toggle menuListHover" data-toggle="dropdown"><i class="fa fa-exchange"></i>
                <span>GSTR6 Annual Reconciliation</span><span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li ng-if="$parent.isTaxpayerISD && !$parent.isTaxpayerTDSDeductor && !$parent.isTaxpayerEcom && $parent.NavEntityContext.entityType == 'FILING'"><a
                    href="#/GSTR6AnnulaRecon"><i class="fa fa-circle-o"></i>GSTR 6 Annual Recon</a></li>
                <!-- <li ng-if="$parent.NavEntityContext.isTaxPayer"><a href="#/GSTR2" ng-click=""><i
                            class="fa fa-circle-o"></i>GSTR 2</a></li>
                <li ng-if="$parent.NavEntityContext.isTaxPayer || $parent.NavEntityContext.entityType == 'Business'"><a href="#/dash2pSummary" ng-click=""><i
                            class="fa fa-circle-o"></i>2P Summary</a></li>-->
                <li><a href="#/spineltoSapphireGstr6" ng-if="$parent.NavEntityContext.isTaxPayer"><i
                            class="fa fa-circle-o"></i>Bulk Get 6A Data</a></li>
                <!-- <li><a href="#/bulkdownloadGstr2b" ng-if="$parent.NavEntityContext.entityType == 'Business'"><i
                            class="fa fa-circle-o"></i>Bulk Download/Update 2B Data</a></li> -->
                <li><a href="#/advancedreconciliationGstr6" ng-if="$parent.NavEntityContext.isTaxPayer"><i
                            class="fa fa-circle-o"></i>Perform Reconciliation</a></li>
                <!-- <li ng-if="$parent.NavEntityContext.isTaxPayer || $parent.NavEntityContext.entityType == 'Business'"><a href="#/monthlySummary" ng-click=""><i
                    class="fa fa-circle-o"></i>Know Your Monthly ITC</a></li>
                <li ng-if="$parent.NavEntityContext.isTaxPayer || $parent.NavEntityContext.entityType == 'Business'"><a href="#/monthlyReconResult" ng-click=""><i
                    class="fa fa-circle-o"></i>Monthly Recon Result (2P Base)</a></li> -->
                <li><a href="#/reconGstr6"><i class="fa fa-circle-o"></i>Results</a></li>
                <!-- <li ng-if="$parent.NavEntityContext.entityType == 'Business' && $parent.business_role == '1'"><a
                        href="#/reconGroupLevelReport"><i class="fa fa-circle-o"></i>Group Level Reports</a></li>
                <li ng-if="$parent.NavEntityContext.isTaxPayer"><a href="#/reconGstinLevelReport"><i
                            class="fa fa-circle-o"></i>GSTIN Level Reports</a></li> -->
            </ul>
        </li>
        <li ng-if="NavEntityContext.isTaxPayer || $parent.NavEntityContext.entityType == 'Business'" class="dropdown"><a href="#/ledger"><i class="fa fa-book"></i>
                <span>Ledger</span></a></li>
        <!--<li ng-if="businessEntityList.length > 0" class="dropdown"><a href="#/bulkUpload"><i class="fa fa-upload"></i> <span>Bulk Upload</span></a></li>-->
        <li ng-if="!isicici && !NavEntityContext.isTaxPayer && (hostname == 'dev' || hostname == 'asp' || hostname == 'qa' || hostname == 'beta')"
            class="dropdown"><a href="#/vendorDash"><i class="fa fa-users"></i> <span>My Network</span></a></li>
        <!-- <li  class="dropdown"><a href="#/vendorDash"><i class="fa fa-users"></i> <span>My Network</span></a></li> -->
        <li ng-if="false" class="dropdown"><a href="#/subscription"><i class="fa fa-hand-pointer-o"></i>
                <span>Subscribe</span></a></li>
        <li ng-if="false" class="dropdown">
            <a href="" class="dropdown-toggle menuListHover" data-toggle="dropdown"><i class="fa fa-cogs"></i>
                <span>Subscription</span> <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#/retailPlan"><i class="fa fa-circle-o"></i>My Retail Plan</a></li>
                <li><a href="#/paymentDetail"><i class="fa fa-circle-o"></i>My Payment Details</a></li>
            </ul>
        </li>
        <li class="dropdown"><a href="#/bulkDownload"><i class="fa fa-download"></i> <span>GST Data</span></a></li>
        
        <li class="dropdown">
            <a href="#" class="dropdown-toggle menuListHover" data-toggle="dropdown"><i class="fa fa-bars"></i>
                <span>More</span><span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                  <li class="dropdown"><a href="#/download"><i class="fa fa-link"></i> <span>Resources</span></a></li>
                  <li class="dropdown"><a href="#/bulksearch"><i class="fa fa-wrench"></i> <span>Utilities</span></a></li>
                <li class="dropdown" ng-if="$parent.NavEntityContext != 'undefined' && $parent.NavEntityContext.isTaxPayer"><a
                    href="#/vendorMaster"><i class="fa fa-database" aria-hidden="true"></i><span>Vendor Master</span></a>
                </li>
            </ul>
        </li>
        
        <li ng-if="$parent.business_role == '1'" class="floatRight"><a href="#/dashboard"
                ng-click="$parent.redirectHierarchy($parent.familyData.entityType, $parent.familyData.companyId, $parent.familyData.companyName, 'View', $parent.familyData.role)"><i
                    class="fa fa-cog"></i><span>Settings</span></a></li>
        <!-- <li ng-if="$parent.business_role == '1' || $parent.business_role == '12' || $parent.business_role == '9' || $parent.business_role == '8'" class="floatRight" ><a href="#/MIS" ng-click=""><i class="fa fa-bar-chart"></i><span>Compliance Tracker</span></a></li> -->
        <li class="floatRight"><a href="#/MIS" ng-click=""><i class="fa fa-bar-chart"></i><span>Compliance
                    Tracker</span></a></li>
        <li ng-if="!isicici" class="floatRight insightMenu"><a ng-click="navReport()" target="_blank"><i
                    class="fa fa-pie-chart"></i><span>Insights
                </span></a></li>
        <li ng-if="isicici" class="floatRight insightMenu"><a ng-click="isIcInsight()" target="_blank"><i
                    class="fa fa-pie-chart"></i><span>Insights
                </span></a></li>
        <li class="floatRight"><a href="#/misReport">
            <i class="fa fa-file-text"></i>
            <span>MIS Report</span>
        </a></li>

        <!--<li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-download"></i> <span>Start Filing</span></a>
        </li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <span>Business</span></a>
        </li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-file-text-o"></i> <span>User Management</span> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a><i class="fa fa-circle-o"></i> View User</a></li>
            <li><a><i class="fa fa-circle-o"></i> Invite User</a></li>
          </ul>
        </li>-->
    </ul>
</div>
<!-- horizontal Menu  -->
<script>
    $('.dropdown').click(function () {
        $('#clickDash').removeClass("active");
    });
</script>
<div class="navbar">
    <ul></ul>
</div>