.dashboard {
    background-color: #e5e5e5;
}

.title {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    color: #1c3c6d;
}

.chart1-container {
    width: 375px;
    background-color: white;
}

.chart2-container {
    width: 375px;
    background-color: white;
}

.card-title {
    color: #1c3c6d;
}